<footer class="footer">
  <small>
    <a href="mailto:hugo.mercier@polytechnique.edu">SleepMonitor</a>
    by Quentin Soulet de Brugière, Victor Briançon & Hugo Mercier
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>